.header__container {
  padding-left: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  background-color: white;
  z-index: 99;
  .account-con {
    float: right;
    right: 20px;
    img {
      height: 30px;
      width: 30px;
      margin-top: 17px;
    }
  }
}
.main-content {
  padding-top: 50px;
}
.main__container {
  display: flex;
  flex-direction: row;
  flex: auto;
  height: 100%;
}
.logo-con {
  height: 64px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  display: flex;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 40px;
    height: 40px;
  }
  .logo__title {
    margin-left: 10px;
    font-weight: bolder;
    font-size: 1.1em;
    color: #71a42c;
  }
}
.sidebar__container {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  flex: 0 0 250px;
  &.collapsed {
    width: 64px;
    min-width: 64px;
    max-width: 64px;
    flex: 0 0 64px;
    .logo-con {
      width: 64px;
    }
  }
}
.sidebar {
  width: 250px;
}

@media screen and (max-width: 700px) {
  .bread-crumb__custom {
    display: none !important;
  }
}
