body {
  background-color: #EDEDED;
}
.container {
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
.footer__container {
  background-color: #2E363A;
  padding: 10px 0;
}
.line {
  margin: 30px 0;
  border: .5px solid #555;
}
.el-dropdown-menu {
  z-index: 9999999999999999 !important;
}
.el-form-item {
  text-align: left;
}