.account__container {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
  }
  .account__info {
    color: white;
    .info__role {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .info__description {
      color: #ddd;
    }
  }
  &.collapsed {
    padding-top: 5px;
    padding-bottom: 5px;
    img {
      width: 40px;
      height: 40px;
    }
    .account__info {
      display: none;
    }
  }
  p {
    margin: 0;
  }
}