.account-nav {
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  .account-nav__avatar {
    padding: 10px 0;
    h4 {
      margin: 5px 0;
    }
    .info__vip {
      color: darkgoldenrod;
    }
    .info__score {
      color: darkred;
      .score {
        margin-right: 7px;
      }
    }
  }
  ul {
    margin: 0;
    list-style: none;
    text-align: left;
    line-height: 30px;
    padding: 0;
    li {
      width: 100%;
      display: block;
      height: 40px;
      padding: 5px 0;
      border-top: 1px solid #d6d6d6;
      &.active {
        background-color: #0E56A5;
        a {
          color: white;
        }
      }
      &:hover {
        background-color: #0E95C7;
        a {
          color: #d6d6d6;
        }
      }
      margin-top: 1px;
      a {
        display: block;
        height: 100%;
        width: 100%;
        color: black;
        padding-left: 15px;
        font-size: .8em;
        svg {
          font-size: 1em;
          margin-right: 10px;
        }
      }
    }
  }
}